
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body class="main-content">



  <button type="button" class="btn btn-primary "  (click)="toggleDrawer()">
    <i class="fa fa-bars" aria-hidden="true"></i>
  </button>



<!-- Update modal  -->

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> Update Profile</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span style="color:aliceblue;" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="update">

          <div class="form-outline mb-4">
            <input type="hidden" formControlName="id"  />
              <input type="email" id="form3Example3" class="form-control form-control-lg"
                placeholder="Enter name " formControlName="name" />
              <label class="form-label" for="form3Example3" >name</label>
            </div>
  
            <!-- Password input -->
            <div class="form-outline mb-3">
              <input type="number" id="form3Example4" class="form-control form-control-lg"
                placeholder="Enter mobile number" formControlName="mobile" />
              <label class="form-label" for="form3Example4">Mobile</label>
            </div>
          <div class="form-outline mb-4">
              <input type="text" id="form3Example4" class="form-control form-control-lg"
              placeholder="Enter password" formControlName="password" />
            <label class="form-label" for="form3Example4cg">Password</label>
          </div>

          <div class="form-outline mb-4">
            <input type="text" id="form3Example4" class="form-control form-control-lg"
            placeholder="Enter password" formControlName="amount" />
          <label class="form-label" for="form3Example4cg">amount</label>
        </div>
        
        <div class="form-outline mb-4">
          <input type="text" id="form3Example4" class="form-control form-control-lg"
          placeholder="Enter password" formControlName="grade" />
        <label class="form-label" for="form3Example4cg">Grade</label>
      </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="updateprofile()">Update Profile</button>
      </div>
    </div>
  </div>
</div>

<!-- Add data Modal  -->

<div class="modal fade" id="Add" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> Add Profile</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span style="color:aliceblue;" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="add">

          <div class="form-outline mb-4">
            <!-- <input type="hidden" formControlName="id"  /> -->
              <input type="email" id="form3Example3" class="form-control form-control-lg"
                placeholder="Enter name " formControlName="name" />
              <label class="form-label" for="form3Example3" >name</label>
            </div>
  
            <!-- Password input -->
            <div class="form-outline mb-3">
              <input type="number" id="form3Example4" class="form-control form-control-lg"
                placeholder="Enter mobile number" formControlName="mobile" />
              <label class="form-label" for="form3Example4">Mobile</label>
            </div>
            <div class="form-outline mb-3">
              <input type="number" id="form3Example4" class="form-control form-control-lg"
                placeholder="Enter mobile number" formControlName="amount" />
              <label class="form-label" for="form3Example4">Amount</label>
            </div>
            <div class="form-outline mb-3">
              <input type="text" id="form3Example4" class="form-control form-control-lg"
                placeholder="Enter mobile number" formControlName="grade" />
              <label class="form-label" for="form3Example4">Grade</label>
            </div>
          <div class="form-outline mb-4">
              <input type="text" id="form3Example4" class="form-control form-control-lg"
              placeholder="Enter password" formControlName="password" />
            <label class="form-label" for="form3Example4cg">Password</label>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="addstudent()">Add Profile</button>
      </div>
    </div>
  </div>
</div>



<!-- <input type="text" placeholder="Filter by city" #filter>
 -->

 <div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-6">
      <div class="input-group">
        <input type="text" class="form-control" style="background-color: aliceblue; color: black;" placeholder="Search..." #filter>
        <button type="button" (click)="clear(filter)" class="btn btn-outline-secondary">
          <i class="fa fa-times"></i>
        </button>
        <button class="btn btn-primary" type="button" (click)="search(filter.value)">Search</button>
      </div>
    </div>
  </div>
</div>


<div class="d-flex ml-5 mt-2">
  <select class="selectpicker"   [(ngModel)]="selectedLevel" (ngModelChange)="checkbygrade()">
   <option value="" disabled selected>check by grade</option>
   <option value="All">All</option>
   <option  value="Show Above A">Show Above A</option>
   <option value="Show B or Above">Show B or Above</option>
   <option value="Failed">Failed</option>
  </select>
 </div>
<table class="table table-dark " >
    <thead>
      <tr class="tr">
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Mobile</th>
        <th scope="col">Amount</th>
        <th scope="col">Grade</th>
        <th scope="col">Action</th>
        <th scope="col">Edit</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data" >
        <td scope="row">{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.mobile}}</td>
        <td>{{item.amount}}</td>
        <td>{{item.grade}}</td>
        <!-- <td>{{item.mobile}}</td> -->
        <!-- <td><button class="btn btn-danger" (click)="deletestudent(item)">Delete</button></td> -->
        <td><i class="material-icons" style="font-size:30px;color:red;cursor: pointer;" (click)="deletestudent(item)">delete</i></td>
        <td> <i class='fa fa-pencil' style='font-size:24px;cursor: pointer;' type="button" data-toggle="modal" data-target="#exampleModal" (click)="updatemember(item)"></i></td>
      </tr>
    
    </tbody>
  </table>

  <mat-drawer-container class="example-container" [ngClass]="{ 'open': isDrawerOpen }">
    <button type="button" class="btn btn-primary float-right" (click)="toggleDrawer()">
      <i class="fa fa-close" aria-hidden="true"></i>
    </button><br>
    <div>
      <label class="menu-item" data-toggle="modal" data-target="#exampleModal" (click)="updateinit()">Edit Profile</label>
      <label class="menu-item" data-toggle="modal" data-target="#Add"  (click)="addinit()">Add New</label>
      <!-- <button type="button" class="btn btn-info " data-toggle="modal" data-target="#exampleModal" (click)="updateinit()">Edit Profile</button><br>
      <button class="btn btn-success" data-toggle="modal" data-target="#Add" style="margin-top: 2vh;" (click)="addinit()">Add New </button> 
     -->

    </div>
    <!-- <div class="col-md-6 d-flex justify-content-end">
      <button class="btn btn-info">End Button</button>
    </div> -->
    <label  class=" btn-logout" (click)="logout()">Logout</label>

  </mat-drawer-container>


</body>
</html>




  